h1{
    font-size: 40px;
    line-height: 80px;
    padding: 0 20px;
    color: darkred;
}

.nav{
    display: flex;
}

.nav li{
    flex: 1;
    line-height: 40px;
    background: lightblue;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}