<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/boots/css/bootstrap.css"/>
    <link rel="stylesheet" href="/public/css/style.css"/>
</head>
<body>

    <h1>商家注册</h1>

    <form class="container">
        <div class="form-group">
            <label>店铺名称：</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label>密码：</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="form-group">
            <label>确认密码：</label>
            <input type="password" class="form-control" name="rePassword">
        </div>
        <div class="form-group">
            <label>logo：</label>
            <input type="file" class="form-control" name="logo">
        </div>
        <div class="form-group">
            <label>banner</label>
            <input type="file" class="form-control" name="banner">
        </div>
        <a id="confirm" class="btn btn-success btn-block">注册</a>
        <a href="/seller/login">已有账号，直接登录</a>
    </form>


    <script src="https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/jquery/jquery-1.10.2.min_65682a2.js"></script>
    <script src="/public/js/seller/regiester.js"></script>
    
</body>
</html>